<form action="custom_params" method="post">
  User ID: <input type="text" name="uid"><br>
  Custom Parameter (pub0): <input type="text" name="pub0"><br>
  Page: <input type="number" name="page"><br>
  <input type="submit" value="Submit">
</form>
